body {
  font-family: Google Sans, Roboto, arial, sans-serif;
}

h1 {
  color: #7c7c7c;
  display: block;
  font-size: 40px;
  font-weight: 100;
  line-height: 28px;
  margin: 10;
}
ul {
  margin: 0 0 10px 0;
  padding: 0;
}
li {
  color: #7c7c7c;
  font-size: 16px;
  font-weight: normal;
  height: 19px;
  line-height: 20px;
  list-style: none;
  text-transform: capitalize;
}

.weather-app {
  border: 1px solid #dadde1;
  background-color: #e3d5ca;
  padding: 15px;
  margin: auto;
  max-width: 800px;
  border-radius: 10px;
}
.searchBar {
  border-radius: 10px;
}

#temperature {
  color: #7c7c7c;
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
}
.fahrenheit {
  color: #7c7c7c;
}
h5 {
  color: #7c7c7c;
}
.card-body {
  display: block;
  text-align: center;
}
