body {
  font-family: Google Sans, Roboto, arial, sans-serif;
}

h1 {
  color: #7c7c7c;
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: #7c7c7c;
  margin: 0;
  font-size: 16px;
  font-weight: normal;
  height: 19px;
  line-height: 20px;
  list-style: none;
  text-transform: capitalize;
}

.weather-app {
  border: 1px solid #dadde1;
  background-color: #e3d5ca;
  padding: 15px;
  margin: auto;
  max-width: 800px;
  border-radius: 10px;
}
.searchBar {
  border-radius: 10px;
}

#temperature {
  color: #7c7c7c;
  font-size: 50px;
  font-weight: 400;
  line-height: 1;
}
.fahrenheit {
  color: #7c7c7c;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.weather-forecast-date {
  font-size: 16px;
  color: black;
  opacity: 0.6;
}
.weather-forecast-temperature {
  font-size: 13px;
  color: #7c7c7c;
}
.weather-forecast-max {
  color: black;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
